<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Add New Blog</title>
    <%- include("./partials/addBlogStyles") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            aria-describedby="Cover Image"
          />
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>
        <!-- <div class="mb-3">
          <textarea
            class="form-control"
            name="body"
            placeholder="Write Content here......."
            id="body"
            name="body"
          ></textarea>
        </div> -->
        <!-- New design will reflect here -->

        <section id="mainSecion">
          <div id="btn-section">
            <div id="editBtn" class="btn btn-active">
              <label for="body">Edit</label>
            </div>
            <div id="previewBtn" class="btn">
              <label for="body">Preview</label>
            </div>
          </div>
          <div class="mb-3 code-container">
            <div class="line-numbers" id="lineNumbers"></div>
            <textarea
              class="form-control code-area"
              oninput="updateLineNumbers()"
              onscroll="syncScroll()"
              name="body"
              placeholder="Write Content here......."
              id="codeArea"
              name="body"
            ></textarea>
          </div>
          <div class="mb-3" id="outContainer"></div>
        </section>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <%-include("./partials/scripts") %> <%-include("./partials/addBlogScript")
    %>
  </body>
</html>
